body {
 background: black;

 .todoAppTitle {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 8px rgb(165, 243, 255);
 }

 .todoNameDescription,
 .displayTodosTitle {
  color: white;
  text-shadow: 1px 1px 8px rgb(165, 243, 255);
 }

 .newFormSection {
  border-bottom: 1px solid rgb(62, 62, 62);
  padding-bottom: 1rem;

  #newTodoForm {
   display: flex;
   flex-wrap: wrap;
    justify-content: space-between;

   .formDescriptionSection {
    flex-basis: 49%;
   }

   .addBTNContainer {
    flex-basis: 100%;
   }

   .todoCategoryDescription {
    color: white;
   }
  }
 }

 .todoNameDescription {
  display: block;
  width: 100%;
  /*   padding-left: 20px; */
 }

 .todoInputName {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin: 5px 0 1rem 0;
  outline: none;
  border: none;
  border-radius: 20px;
 }



 .todoInputName:hover {
  box-shadow: 1px 1px 8px rgb(165, 243, 255);
 }

 .addBTN {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 1rem 0;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
 }

 .addBTN:hover {
  background: rgb(165, 243, 255);
  box-shadow: 1px 1px 8px rgb(136, 200, 210);
 }

 .removeAllTodos {
  width: 150px;
  padding: 1rem 0;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 0 0 0;
  background: rgb(152, 0, 0);
  color: white;
  border-radius: 5px;
  float: right;
 }
 .removeAllTodos:hover {
  background: lighten($color: rgb(152, 0, 0), $amount: 20%);
  box-shadow: 1px 1px 30px lighten($color: rgb(152, 0, 0), $amount: 40%);
 }

 .todoMessages {
  color: white;
  text-align: center;
  font-weight: 700;
  text-shadow: 1px 1px 8px rgb(165, 243, 255);
  margin-top: 3rem;
 }

 .displayTodos {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 1rem;

    .todoListItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .todoInputDisplayContainer {flex-basis: 61%;}

        .todoInputDisplayName {
            box-sizing: border-box;
            padding: 1rem;
            outline: none;
            border: none;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background: rgb(197, 197, 197);
            width: 50%;
        }
        .editTheInput {
            background: white;
        }
        .todoNameBTNsContainer {
            flex-basis: 36%;
            display: flex;
            justify-content: space-between;
        }
        .todoEditNameBTN,
        .todoDeleteBTN {
            border: none;
            font-size: 1rem;
            font-weight: 700;
            flex-basis: 47.5%;
            border-radius: 5px;
        }

        .todoEditNameBTN {
            background: rgb(165, 243, 255);
        }
        .todoEditNameBTN:hover {
            background: darken($color: rgb(165, 243, 255), $amount: 20%);
            box-shadow: 1px 1px 8px darken($color: rgb(165, 243, 255), $amount: 20%);
        }

        .todoDeleteBTN {
            background: rgb(152, 0, 0);
            color: white;
        }
        .todoDeleteBTN:hover {
            background: lighten($color: red, $amount: 10%);
            box-shadow: 1px 1px 8px lighten($color: red, $amount: 10%);
        }
        .todoInputDisplayCategory {
            box-sizing: border-box;
            padding: 1rem;
            outline: none;
            border: none;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background: rgb(197, 197, 197);
            width: 50%;
        }
    }
 }

 .addNewCategory {
    color: white;
   }
   .categoriesTitle {
    color: white;
   }
   .deleteCategoryTitle, .editCategoryTitle {
    color: white;
   }

   .formCategorySection {
    flex-basis: 49%;

    .todoCategoryDescription {
        text-shadow: 1px 1px 8px rgb(165, 243, 255);
    }

    .todoSelectCategory {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        margin: 5px 0 1rem 0;
        outline: none;
        border: none;
        border-radius: 20px;
       }
   }

   .todoSelectCategory:hover {
    box-shadow: 1px 1px 8px rgb(165, 243, 255);
   }

   .toggleCategoriesBTN {
    width: 150px;
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0 .5rem 0;
    background: rgb(165, 243, 255);
    border-radius: 5px;
   }

   .toggleCategoriesBTN:hover {
    background: darken($color: rgb(165, 243, 255), $amount: 20%);
    box-shadow: 1px 1px 30px darken($color: rgb(165, 243, 255), $amount: 20%);
   }

   .active {
    background: rgb(25, 25, 25);
    padding: 0 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(165, 243, 255);
   }
   
   .deleteEditAddCategories {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
   }

   #newTodoCategoryForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }

   .addNewCategory {
    width: 100%;
}

    .categoryInputSection {
        flex-basis: 80%;
    }
    .categoryInputName {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        margin: 5px 0 1rem 0;
        outline: none;
        border: none;
        border-radius: 20px;
    } 
    .categoryInputName:hover {
        box-shadow: 1px 1px 8px rgb(165, 243, 255);
    }
    .categorySubmitBTNSection {
        flex-basis: 20%;
    }
    .addCategoryBTN {
        width: 150px;
        padding: 1rem 0;
        border: none;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 5px;
        float: right;
    }
    .addCategoryBTN:hover {
        background: rgb(165, 243, 255);
  box-shadow: 1px 1px 8px rgb(136, 200, 210);
    }

    .deleteCategory {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .deleteCategoryTitle {
            flex-basis: 100%;
        }

        .deleteCategorySelectSection {
            flex-basis: 80%;
        }

        .deleteCategoryBTNSection {
            flex-basis: 20%;
        }
        .deleteCategorySelect {
            width: 100%;
            box-sizing: border-box;
            padding: 1rem;
            margin: 5px 0 1rem 0;
            outline: none;
            border: none;
            border-radius: 20px;
        }
        .deleteCategorySelect:hover {
            box-shadow: 1px 1px 8px rgb(165, 243, 255);
        }

        .deleteCategoryBTN {
            width: 150px;
            padding: 1rem 0;
            border: none;
            font-size: 1rem;
            font-weight: 700;
            background: rgb(152, 0, 0);
            border-radius: 5px;
            float: right;
            color: white;
        }
        .deleteCategoryBTN:hover {
            background: lighten($color: red, $amount: 10%);
            box-shadow: 1px 1px 8px lighten($color: red, $amount: 10%);
        }
    }

    .editCategory {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .editCategoryTitle {
            flex-basis: 100%;
        }

        .editCategorySelectSection {
            flex-basis: 39.5%;

            .editCategorySelect {
                width: 100%;
                box-sizing: border-box;
                padding: 1rem;
                margin: 5px 0 1rem 0;
                outline: none;
                border: none;
                border-radius: 20px;
            }
            .editCategorySelect:hover {
                box-shadow: 1px 1px 8px rgb(165, 243, 255);
            }
            
        }

        .editCategoryInputNameSection {
            flex-basis: 39.5%;

            .editCategoryInputName {
                width: 100%;
                box-sizing: border-box;
                padding: 1rem;
                margin: 5px 0 1rem 0;
                outline: none;
                border: none;
                border-radius: 20px;
            }
            .editCategoryInputName:hover {
                box-shadow: 1px 1px 8px rgb(165, 243, 255);
            }
            
        }

        .editCategoryBTNSection {
            flex-basis: 20%;

            .editCategoryBTN {
                width: 150px;
                padding: 1rem 0;
                border: none;
                font-size: 1rem;
                font-weight: 700;
                background: rgb(165, 243, 255);
                border-radius: 5px;
                float: right;
            }
            .editCategoryBTN:hover {
                background: darken($color: rgb(165, 243, 255), $amount: 20%);
            box-shadow: 1px 1px 8px darken($color: rgb(165, 243, 255), $amount: 20%);
            }
        }
    }
 
}


